.date {
  -ms-border-radius: 8px;
  background: red;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 60px;
}

.date .month {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
  text-transform: uppercase;
}

.date .day {
  background: #f7f7f7;
  color: #333333;
  font-size: 20px;
  padding: 6px 12px;
}