.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .notifications {
  position: relative;
}

.navbar-inverse .notifications .badge {
  background-color: #a80a0a;
  position: absolute;
  right: 0;
  top: 8px;
}

.navbar-inverse .navbar-nav > .open > a {
  background-color: rgba(205, 40, 39, 0.55);
}

.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: rgba(205, 40, 39, 0.55);
}

.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(205, 40, 39, 0.55);
}

.navbar-brand {
  font-weight: 700;
}

@media (max-width: 500px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
}
