a {
    color: #ffffff;
    position: relative;
    display: block;
    padding: 15px 10px;
}

.badge {
    background-color: #a80a0a;
    position: absolute;
    right: 0;
    top: 8px;
}

.notifications {
  position: relative;
}

.popover {
    display: block;
    width: 400px;
    max-width: 400px;
    left: -110px;
    top: 56px;
}

/* Bootstrap overrides */
.popover-notifications .popover-content {
    padding: 0;
}
.popover-notifications ul.notifications {
    list-style: none;
    padding-left: 0;
}
.popover-notifications ul.notifications .highlight {
    font-weight: bold;
}
.popover-notifications ul.notifications > li {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
    border-bottom: none;
}